.graycircle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #d0ceca;
    border-radius: 50%;
    border: 1px solid #d0ceca;
}

.greencircle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #19be6b;
    border-radius: 50%;
    border: 1px solid #19be6b;
}

.yellowcircle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ff9900;
    border-radius: 50%;
    border: 1px solid #ff9900;
}

.redcircle {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ed4014;
    border-radius: 50%;
    border: 1px solid #ed4014;
}

.anchorBL {
    display: none;
}